extends ../layout

block content

    h2 Profile

    div Username: #{user.username}
    div Latitude: #{user.latitude}
    div Longitude: #{user.longitude}
    div Adults: #{user.adults}
    div Children: #{user.children}
    div Infants: #{user.infants}
    div Pets: #{user.pets}
    div Special Needs: #{user.needs}